<html>
{% extends 'base.html' %}

<head>
    <title>{% block title%} Продукт: {{ product.name_product }} {% endblock%}</title>
</head>
<body>
{% block find %}
<p>неопределен</p>
{% endblock%}
{% block content %}
<p>Изменение данных о продуте {{ product.name_produc }}</p>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Отправить">
</form>
<p>Наименование продукта: {{ product.name_product }}</p>
<p>Описание продукта: {{ product.description_product }}</p>
<p>Стоимость: {{ product.price_product }}</p>
<p>Количество на складе: {{ product.quantity_product }}</p>
<p>Фото: {{ product.fotografy_product }}</p>


<a href="{% url 'find_product' %}"> Назад </a>
{% endblock%}

</body>
</html>